jupyterlab
jupyterlab-git>=0.50.0a2  # Older versions don't work for Lab 4.x
# notebook  # alternatively jupyter notebook

numpy
pandas
matplotlib

xlrd  # for Excel parsing for pandas
holidays

pandapower
simbench

pvlib

# Optional
python-igraph

# Code Formatting
black
isort
jupyterlab-code-formatter
